.image-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;

    align-items: flex-start;
    aspect-ratio: 900/600;
    background-image: url('./../../public/waves/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    
    
}

.image-container >img{
    height: 648px;
    width: 1152px;
    margin-left: 50px;
    margin-top: 150px;
    object-fit: cover;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    position: sticky;
    object-fit: contain;
}

.btn-container{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 150px;
    padding-bottom: 10px;
}

.btn-container .btn{
    margin-bottom: 20px;
}

.fullPage{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#050505 ,#030414);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullPage .full{
    
    height: 85%;
    width: 85%;
    object-fit: cover;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    
    
}

.canvas{
    z-index: 1;
    position: absolute;
    
}

@media screen and (max-width:1700px){
    .image-container{
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        
    }

    .image-container >img{
       margin-top: 50px;
       margin-left: auto;
       margin-right: auto;
    }

    .btn-container{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .fullPage .full{
        height: 648px ;
        width: 1152px;
    }

}

@media screen and (max-width:1200px){
    .image-container >img{
        height: 486px;
        width: 864px;
     }
    .btn-container{
        margin-top: 50px;
    }

    .fullPage .full{
        height: 540px;
        width: 864px;
    }
}

@media screen and (max-width:900px){
    .image-container >img{
        height: 243px;
        width: 432px;
     }

    .fullPage .full{
        height: 270px;
        width: 480px;
    }
}

@media screen and (max-width:500px){
    .image-container >img{
        height: 182.25px;
        width: 324px;
     }
    

    .fullPage .full{
        height: 270px;
        width: 480px;
        
    }

    
}


